@use "variables" as vars;

$heading-color: vars.$white;
$text-color: vars.$gray-a40;

body {
  color: $text-color;
  font-family:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

a {
  color: vars.$primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: vars.$primary-a60;
  }
}
