// colors
$white: #ffffff;
$gray-a10: #ececec;
$gray-a20: #d9d9d9;
$gray-a30: #c7c7c7;
$gray-a40: #b5b5b5;
$gray-a50: #a3a3a3;
$gray-a60: #808080;
$gray-a70: #5f5f5f;
$gray-a80: #3f3f3f;
$gray-a90: #222222;
$black: #000000;

$primary-a10: #e8f2f6;
$primary-a20: #d0e6ec;
$primary-a30: #b9dae3;
$primary-a40: #a1cdda;
$primary: #88c1d1;
$primary-a60: #6c97a3;
$primary-a70: #516f78;
$primary-a80: #374a4f;
$primary-a90: #1f2729;

$secondary-a10: #e6ecf3;
$secondary-a20: #cdd9e6;
$secondary-a30: #b4c6da;
$secondary-a40: #9bb4ce;
$secondary: #82a2c2;
$secondary-a60: #677f98;
$secondary-a70: #4d5e70;
$secondary-a80: #353f4a;
$secondary-a90: #1e2227;

$success: #8fbcbb;
$warning: #ebcb8b;
$danger: #bf616a;

$background-color: #2e3440;

// animation
$transition-duration: 0.2s;

// spacing
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 3rem;
$space-xl: 4rem;
